# Данные и результаты обработки
/tif_files/*    # Игнорируем содержимое папки с тайлами
*.mbtiles       # Готовые карты
*.tif           # Исходные файлы

# Временные файлы Python
__pycache__/    # Кэш байт-кода
*.py[cod]       # Скомпилированные файлы Python
*$py.class      # Файлы классов

# Настройки IDE
.vscode/        # Конфиги VS Code
.idea/          # Конфиги PyCharm

# Системные файлы
.DS_Store       # MacOS служебные файлы
Thumbs.db       # Windows thumbnails
*.log           # Лог-файлы

# Виртуальные окружения
venv/
env/